#scan_button {	
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label[data-animation="ripple"] {
	height: 100%;
	width: 100%;
	display: block;
	outline: none;
	padding: 20px;
	color: #fff;
	background: linear-gradient(135deg, #6e8efb, #e570e7);
	box-sizing: border-box;
	text-align: center;
	line-height: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
  /*border-radius: 50px;*/
	-webkit-tap-highlight-color: transparent;
	border-radius: 5px;
}

label[data-animation="ripple"]:focus {
	outline: none;
}

label[data-animation="ripple"]::selection {
	background: transparent;
	pointer-events: none;
}