html {
  	height: 100%;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	background-repeat: no-repeat;
}
body {
  	height: auto;
	background-color: transparent;
	text-align: center;
	/*
	display: flex;
  	
	justify-content: center;
	-webkit-transform: perspective(24em);
          transform: perspective(24em);
  	-webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	*/
}

/*.App {
  text-align: center;
}*/

#cup_id_text {
	text-shadow: 3px 5px 12px black;
}

/*
.heading {
	color: white;
	font-family: 'Cairo', sans-serif;
}

.qrcode-text-btn {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: url(./icons/qr_icon.svg)
    50% 50% no-repeat;
  cursor: pointer;
}

.qrcode-text-btn > input[type="file"] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.qrcode-text {
  	padding-right: 2.0em;
  	margin-right: 0;
  	vertical-align: middle;
	height: 40px;
	
}

.qrcode-text + .qrcode-text-btn {
  width: 1.0em;
  margin-left: -1.5em;
  vertical-align: middle;
}
*/